{% extends "base.html" %}

{% block content %}
<div class='inner'>
    <h1 style='text-align: center;'>Topic Space</h1>
    <p style='text-align: center;font-size:18px;'>An application to help you analyze and visualize large collections of text documents</p>
    <div style='text-align: center;'>
        <button type="button" class="btn btn-default btn-duo center">
            <a href="/about/">Learn More</a>
        </button>
        <!--button type="button" class="btn btn-default btn-duo center">
            <a href="https://github.com/ContinuumIO/memex-explorer">Source</a>
        </button>
        <button type="button" class="btn btn-default btn-duo center">
            <a href="http://continuumio.github.io/memex-explorer/">Docs</a>
        </button-->
    </div>
    <br><br>
</div>
{% endblock %}
